/* General section */
html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/fondo.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 5%;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: white !important;
}

section {
    padding: 5%;
}

h1 {
    padding: 3%;
    text-shadow: #150f0f;
    text-align: center;
}

h6 {
    text-align: center;
    text-shadow: #150f0f;
}

.row {
    display: flex;
}

.col {
    background: rgba(9, 9, 10, 0.8);
}

p {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

/*--- IMAGES ---*/

img:hover {
    transform: scale(1.20);
    filter: drop-shadow(3px 3px 15px rgba(44, 70, 75, 0.99));
}

.img-modal {
    transform: none !important;
}

#images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0 !important;
}

.modal-content {
    background: url("../img/fondo.jpg");
}

/*--- TEXT  ---*/

#textarea {
    margin-top: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6%;
}

#loadJson {
    width: 80%;
    padding: 8px;
    border-radius: 5px;
}

/*--- FOOTER  ---*/

#footer {
    background-color: rgba(9, 9, 10, 0.8);
    color: white;
    text-align: center;
    padding: 30px;
    padding-top: 50px !important;
    font-size: medium;
}

/*--- MEDIA QUERY ---*/

/*--- Media Query for Laptops and Desktops  ---*/
@media only screen and (min-width: 800px) and (max-width: 1280px) {
    body {
        background-attachment: fixed !important;
        background-repeat: no-repeat;
    }

    .col {
        max-width: 30vw !important;
    }
}

/*--- Media Query for Mobile Devices ---*/
@media only screen and (max-width: 800px) {
    body {
        background-attachment: scroll !important;
    }

    #images {
        padding: 5%;
        padding-bottom: 0;
    }
    .col {
        min-width: 50vw !important;
    }

    #loadText {
        width: 50vw !important;
    }

}

